models/schemas/gscB2DE/GSC-Buildings2D-Energy.xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1210 ( Build: 1210 )-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-bu2d-energy/2.1" xmlns:gsc-bu2d-energy="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-bu2d-energy/2.1" version="2.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:bu-base="http://inspire.ec.europa.eu/schemas/bu-base/3.0" xmlns:gmlexr="http://www.opengis.net/gml/3.3/xer" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:ad="urn:x-inspire:specification:gmlas:Addresses:3.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/1.0" xmlns:bu-core2d="http://inspire.ec.europa.eu/schemas/bu-core2d/3.0">
	<import namespace="http://inspire.ec.europa.eu/schemas/bu-core2d/3.0" schemaLocation="http://inspire.ec.europa.eu/schemas/bu-core2d/3.0/BuildingsCore2D.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/base2/1.0" schemaLocation="http://inspire.ec.europa.eu/schemas/base2/1.0/BaseTypes2.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:Addresses:3.0" schemaLocation="http://inspire.ec.europa.eu/schemas/ad/3.0/Addresses.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="http://inspire.ec.europa.eu/schemas/base/3.3/BaseTypes.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/bu-base/3.0" schemaLocation="http://inspire.ec.europa.eu/schemas/bu-base/3.0/BuildingsBase.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<element name="AbstractBuildingUnit" type="gsc-bu2d-energy:AbstractBuildingUnitType" substitutionGroup="gml:AbstractFeature" abstract="true">
		<annotation>
			<documentation>-- Name -- Abstract building unit -- Definition -- Abstract spatial
				object type grouping the semantic properties of building units. A BuildingUnit is a
				subdivision of Building with its own lockable access from the outside or from a
				common area (i.e. not from another BuildingUnit), which is atomic, functionally
				independent, and may be separately sold, rented out, inherited, etc. -- Description
				-- Building units are spatial objects aimed at subdividing buildings and/or building
				parts into smaller parts that are treated as seperate entities in daily life. A
				building unit is homogeneous, regarding management aspects. EXAMPLES: It may be e.g.
				an apartment in a condominium, a terraced house, or a shop inside a shopping arcade.
				NOTE 1: According to national regulations, a building unit may be a flat, a cellar,
				a garage or set of a flat, a cellar and a garage. NOTE 2: According to national
				regulation, a building that is one entity for daily life (typically, a single family
				house) may be considered as a Building composed of one BuildingUnit or as a Building
				composed of zero BuildingUnit.</documentation>
		</annotation>
	</element>
	<complexType name="AbstractBuildingUnitType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="buindingUnitInfo" type="gsc-bu2d-energy:BuildingAndBuildingUnitInfoPropertyType" minOccurs="0" maxOccurs="1"/>
					<element name="inspireId" type="base:IdentifierType">
						<annotation>
							<documentation>-- Name -- inspire id -- Definition -- External object
								identifier of the spatial object. -- Description -- An external
								object identifier is a unique object identifier published by the
								responsible body, which may be used by external applications to
								reference the spatial object. The identifier is an identifier of the
								spatial object, not an identifier of the real-world
								phenomenon.</documentation>
						</annotation>
						
					</element>
					<element name="externalReference" minOccurs="0" maxOccurs="1" type="bu-base:ExternalReferenceType">
						<annotation>
							<documentation>-- Name -- External reference -- Definition -- Reference
								to an external information system containing any piece of
								information related to the spatial object. -- Description --
								Typically, the external reference will be established to the
								information system where BuildingUnits are defined. EXAMPLES: the
								information system will be the cadastral register or an official
								dwelling register. It may be also a register of public
								properties.</documentation>
						</annotation>
						
					</element>
					<element name="endLifespanVersion" type="dateTime" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>-- Name -- End lifespan version -- Definition -- Date and
								time at which this version of the spatial object was superseded or
								retired in the spatial data set.</documentation>
						</annotation>
					</element>
					<element name="currentUse" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name -- Current use -- Definition -- Activity hosted
								by the building unit.</documentation>
							<appinfo>
								<gmlexr:targetCodeList>CurrentUseValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="beginLifespanVersion" type="dateTime" nillable="true">
						<annotation>
							<documentation>-- Name -- Begin lifespan version -- Definition -- Date
								and time at which this version of the spatial object was inserted or
								changed in the spatial data set.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AbstractBuildingUnitPropertyType">
		<sequence minOccurs="0">
			<element ref="gsc-bu2d-energy:AbstractBuildingUnit"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AbstractInstallation" type="gsc-bu2d-energy:AbstractInstallationType" substitutionGroup="bu-base:AbstractConstruction" abstract="true">
		<annotation>
			<documentation>-- Name -- Abstract installation -- Definition -- Abstract spatial object
				type grouping the semantic properties of installations. An external construction (of
				small size) or an external device serving the building or building part. --
				Description -- EXAMPLES: stairway, solar panel, external lift</documentation>
		</annotation>
	</element>
	<complexType name="AbstractInstallationType" abstract="true">
		<complexContent>
			<extension base="bu-base:AbstractConstructionType">
				<sequence>
					<element name="installationNature" type="gml:ReferenceType">
						<annotation>
							<documentation>-- Name -- Installation nature -- Definition -- A
								description of the installation that represents its intended nature
								or current function.</documentation>
							<appinfo>
								<gmlexr:targetCodeList>InstallationNatureValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AbstractInstallationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsc-bu2d-energy:AbstractInstallation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BuildingAndBuildingUnitInfo" type="gsc-bu2d-energy:BuildingAndBuildingUnitInfoType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Building and building unit info -- Definition -- Data type
				grouping the additional properties that are common to Building , Building Part and
				BuildingUnit. -- Description -- NOTE 1: The additional properties are those that are
				not already included in the base application schema. NOTE 2: These additional
				properties concern mainly the official information that may be attached to buildings
				/ building parts or to building units. </documentation>
		</annotation>
	</element>
	<complexType name="BuildingAndBuildingUnitInfoType">
		<sequence>
			<element name="volume" minOccurs="0" maxOccurs="unbounded" type="gsc-bu2d-energy:VolumeMeasureType">
				<annotation>
					<documentation>Volume of the building (by energy certification or
						estimated)</documentation>
				</annotation>
				
			</element>
			<element name="verticalSurface" minOccurs="0" maxOccurs="unbounded" type="gsc-bu2d-energy:VerticalSurfaceMeasureType">
				<annotation>
					<documentation>Surface of the building (by energy certification or
						estimated)</documentation>
				</annotation>
				
			</element>
			<element name="refurbishmentClass" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<annotation>
					<appinfo>
						<gmlexr:targetCodeList>RefurbishmentClassValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="presenceOfThermalPlants" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Presence of thermal plants used by the building
						UE</documentation>
				</annotation>
			</element>
			<element name="presenceOfSolarPanels" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Presence of solar panels used by the building UE</documentation>
				</annotation>
			</element>
			<element name="presenceOfPhotovoltaicPanels" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Presence of electricity counters used by the building
						UE</documentation>
				</annotation>
			</element>
			<element name="presenceOfElectricityMeter" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Presence of electricity counters used by the building UE
					</documentation>
				</annotation>
			</element>
			<element name="ownershipType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Ownership of the building</documentation>
					<appinfo>
						<gmlexr:targetCodeList>OwnershipTypeValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="officialValue" minOccurs="0" maxOccurs="unbounded" type="gsc-bu2d-energy:OfficialValueType">
				<annotation>
					<documentation>-- Name -- Official value -- Definition -- The value of the
						building or building part or building unit as registered in official
						information system</documentation>
				</annotation>
				
			</element>
			<element name="officialArea" minOccurs="0" maxOccurs="unbounded" type="gsc-bu2d-energy:OfficialAreaType">
				<annotation>
					<documentation>-- Name -- Official area -- Definition -- The area of the
						building or building part or building unit as registered in an official
						information system</documentation>
				</annotation>
				
			</element>
			<element name="occupancyLevel" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Ownership of the building</documentation>
					<appinfo>
						<gmlexr:targetCodeList>OccupancyLevelValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="numberOfOccupants" minOccurs="0" maxOccurs="1" type="gsc-bu2d-energy:NumberOfOccupantsType">
				<annotation>
					<documentation>Number of buildings' residents</documentation>
				</annotation>
				
			</element>
			<element name="heatingSystem" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name -- Heating system -- Definition -- The system of heating
						-- Description -- EXAMPLES : stove, central heating, heat
						pump</documentation>
					<appinfo>
						<gmlexr:targetCodeList>HeatingSystemValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="energyPerformance" minOccurs="0" maxOccurs="unbounded" type="gsc-bu2d-energy:EnergyPerformanceType">
				<annotation>
					<documentation>-- Name -- Energy performance -- Definition -- The energy
						performance of the building or building part or building unit . --
						Description -- NOTE: The energy performance is required by the Energy
						Performance of Building Directive for the new buildings being rent or
						sold.</documentation>
				</annotation>
				
			</element>
			<element name="energyAmount" minOccurs="0" maxOccurs="unbounded" type="gsc-bu2d-energy:EnergyAmountType">
				<annotation>
					<documentation>Amount of energy used to satisfy a specific end use, such as
						heating, cooling, domestic hot water etc… </documentation>
				</annotation>
				
			</element>
			<element name="document" minOccurs="0" maxOccurs="unbounded" type="gsc-bu2d-energy:DocumentType">
				<annotation>
					<documentation>-- Name -- Document -- Definition -- Any document providing
						information about the building or building part or building unit. --
						Description -- EXAMPLES: the building permit, a photo of facade or inner
						yard, a sketch of interior, the building code, the energy performance
						assessment, an emergency plan</documentation>
				</annotation>
				
			</element>
			<element name="connectionToWater" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name -- Connection to water -- Definition -- An indication if
						the building or building part or building unit is connected or not to the
						public water network.</documentation>
				</annotation>
			</element>
			<element name="connectionToThermal" type="boolean" minOccurs="0" maxOccurs="1"/>
			<element name="connectionToSewage" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name -- Connection to sewage -- Definition -- An indication if
						the building or building part or building unit is connected or not to the
						public sewage network.</documentation>
				</annotation>
			</element>
			<element name="connectionToGas" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name -- Connection to gas -- Definition -- An indication if
						the building or building part or building unit is connected or not to the
						public gas network.</documentation>
				</annotation>
			</element>
			<element name="connectionToElectricity" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name -- Connection to electricity -- Definition -- An
						indication if the building or building part or building unit is connected or
						not to the public electricity network.</documentation>
				</annotation>
			</element>
			<element name="address" minOccurs="0" maxOccurs="unbounded" type="ad:AddressRepresentationType">
				<annotation>
					<documentation>-- Name -- Address -- Definition -- The address(es) of the
						building or building part or building unit. -- Description -- This attribute
						provides the current address(es) of the building or building component in
						the structured data type defined in theme Address.</documentation>
				</annotation>
				
			</element>
		</sequence>
	</complexType>
	<complexType name="BuildingAndBuildingUnitInfoPropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:BuildingAndBuildingUnitInfo"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BuildingInfo" type="gsc-bu2d-energy:BuildingInfoType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Building info -- Definition -- Data type grouping the
				additional specific properties of Building and Building Part. -- Description -- NOTE
				1: The additonal properties are those that are not already included in the base
				application schema. NOTE 2: The specific properties are the properties that appliy
				to Building and BuildingPart without applying to BuildingUnit.</documentation>
		</annotation>
	</element>
	<complexType name="BuildingInfoType">
		<sequence>
			<element name="additionalInfo" type="gsc-bu2d-energy:BuildingAndBuildingUnitInfoPropertyType" minOccurs="0" maxOccurs="1"/>
			<element name="solarPotential" type="double" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>Solar potential calculation for buildings </documentation>
				</annotation>
			</element>
			<element name="roofType" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name -- Roof type -- Definition -- The shape of the
						roof.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>RoofTypeValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="positionType" minOccurs="0" maxOccurs="1" type="gsc-bu2d-energy:PositionTypeType">
				<annotation>
					<documentation>-- Name -- Material of roof -- Definition -- Material(s) of the
						building or building part roof.</documentation>
				</annotation>
				
			</element>
			<element name="numberOfFloorsBelowGround" type="integer" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name -- Number of floors below ground -- Definition -- The
						number of floors below ground of the building or building part. --
						Description -- EXAMPLES: includes cellars, underground carparks ...
					</documentation>
				</annotation>
			</element>
			<element name="materialOfStructure" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name -- Material of structure -- Definition -- Material(s) of
						the building structure. -- Description -- NOTE: generally, the building
						structure consists of the supporting walls or columns. </documentation>
					<appinfo>
						<gmlexr:targetCodeList>MaterialOfStructureValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="materialOfRoof" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name -- Material of roof -- Definition -- Material(s) of the
						building or building part roof.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>MaterialOfRoofValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="materialOfFacade" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name -- Material of facade -- Definition -- Material(s) of the
						building or building part facade.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>MaterialOfFacadeValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="heightBelowGround" type="gml:LengthType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name -- Height below ground -- Definition -- Height below
						ground of the building or building part.</documentation>
				</annotation>
			</element>
			<element name="floorDistribution" minOccurs="1" maxOccurs="unbounded" nillable="true" type="gsc-bu2d-energy:FloorRangeType">
				<annotation>
					<documentation>-- Name -- Floor distribution -- Definition -- The range(s) of
						floors of the building or building part. -- Description -- EXAMPLE: [0,5]
						for a 6 floors building located on ground.</documentation>
				</annotation>
				
			</element>
			<element name="floorDescription" minOccurs="0" maxOccurs="unbounded" type="gsc-bu2d-energy:FloorDescriptionType">
				<annotation>
					<documentation>-- Name -- Floor description -- Definition -- The description of
						a given range of building floors.</documentation>
				</annotation>
				
			</element>
			<element name="estimatedProduction" type="double" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>estimated values for other sources of renewable energy PRODUCTION
						(KwH)</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="BuildingInfoPropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:BuildingInfo"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BuildingUnit" type="gsc-bu2d-energy:BuildingUnitType" substitutionGroup="gsc-bu2d-energy:AbstractBuildingUnit">
		<annotation>
			<documentation>-- Name -- Building unit -- Definition -- A BuildingUnit is a subdivision
				of Building with its own lockable access from the outside or from a common area
				(i.e. not from another BuildingUnit), which is atomic, functionally independent, and
				may be separately sold, rented out, inherited, etc. -- Description -- Building units
				are spatial objects aimed at subdividing buildings and/or building parts into
				smaller parts that are treated as seperate entities in daily life. A building unit
				is homogeneous, regarding management aspects. EXAMPLES: It may be e.g. an apartment
				in a condominium, a terraced house, or a shop inside a shopping arcade. NOTE 1:
				According to national regulations, a building unit may be a flat, a cellar, a garage
				or set of a flat, a cellar and a garage. NOTE 2: According to national regulation, a
				building that is one entity for daily life (typically, a single family house) may be
				considered as a Building composed of one BuildingUnit or as a Building composed of
				zero BuildingUnit.</documentation>
		</annotation>
	</element>
	<complexType name="BuildingUnitType">
		<complexContent>
			<extension base="gsc-bu2d-energy:AbstractBuildingUnitType">
				<sequence>
					<element name="geometry2D" type="gml:GeometricPrimitivePropertyType" nillable="true">
						<annotation>
							<documentation>-- Name -- Geometry 2D -- Definition -- The 2D or 2,5 D
								geometric representation of the building unit. -- Description --
								EXAMPLE: the building unit may be represented by its floor surface
								or by a simple point.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BuildingUnitPropertyType">
		<sequence minOccurs="0">
			<element ref="gsc-bu2d-energy:BuildingUnit"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Document" type="gsc-bu2d-energy:DocumentType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Document -- Definition -- This data types provides the address
				where the document may be found and a minimum set of metadata elements considered as
				necessary to exploit the document.</documentation>
		</annotation>
	</element>
	<complexType name="DocumentType">
		<sequence>
			<element name="sourceStatus" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name -- sourceStatus -- Definition -- The status of the
						document, i.e. this attribute indicates if the document comes from official
						source or not.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>SourceStatusValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="documentLink" type="anyURI">
				<annotation>
					<documentation>-- Name -- documentLink -- Definition -- The Universal Resource
						Identifier of the document. -- Description -- The Internet address where the
						document may be found.</documentation>
				</annotation>
			</element>
			<element name="documentDescription" type="gmd:PT_FreeText_PropertyType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name -- documentDescription -- Definition -- A short text
						providing overview of the document content. May be just title of the
						document. -- Description -- EXAMPLES: "photo of inner yard", "sketch of
						third floor"</documentation>
				</annotation>
			</element>
			<element name="date" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name -- date -- Definition -- Date of validity of the
						document. -- Description -- EXAMPLES: the date the photo was taken, the date
						the sketch was done or approved, the date the building permit was
						accepted.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DocumentPropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:Document"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EnergyAmount" type="gsc-bu2d-energy:EnergyAmountType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Energy performance -- Definition -- This data type describes
				the energy performance of the building or building unit.</documentation>
		</annotation>
	</element>
	<complexType name="EnergyAmountType">
		<sequence>
			<element name="value" type="gml:MeasureType">
				<annotation>
					<documentation>Amount of energy</documentation>
				</annotation>
			</element>
			<element name="referenceYear" type="bu-base:DateOfEventType">
				<annotation>
					<documentation>Reference year (or fraction) of the amount of energy
						used</documentation>
				</annotation>
				
			</element>
			<element name="estimatedCO2" type="double" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>CO2 Conversion factors</documentation>
				</annotation>
			</element>
			<element name="energyUse" type="gml:ReferenceType">
				<annotation>
					<documentation>Use of the energy (heating, hot water, etc.)</documentation>
					<appinfo>
						<gmlexr:targetCodeList>EnergyUseValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="energyType" type="gml:ReferenceType">
				<annotation>
					<documentation>Type of the energy (estimated, demand, final, primary,
						etc.)</documentation>
					<appinfo>
						<gmlexr:targetCodeList>EnergyTypeValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="energySource" type="gml:ReferenceType">
				<annotation>
					<documentation>The source of energy used by a building, building part or
						building unit.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>EnergySourceValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="EnergyAmountPropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:EnergyAmount"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EnergyGenerationSystem" type="gsc-bu2d-energy:EnergyGenerationSystemType" substitutionGroup="gsc-bu2d-energy:Installation" abstract="true">
		<annotation>
			<documentation>-- Name -- EnergyGenerationSystem -- Definition -- An external energy
				generation System the building or building part</documentation>
		</annotation>
	</element>
	<complexType name="EnergyGenerationSystemType" abstract="true">
		<complexContent>
			<extension base="gsc-bu2d-energy:InstallationType">
				<sequence>
					<element name="type" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Free-standing or bulding-integrated
								plants</documentation>
							<appinfo>
								<gmlexr:targetCodeList>SystemTypeValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="realEnergyProduced" type="double" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Real energy produced in the year (kWh /
								year)</documentation>
						</annotation>
					</element>
					<element name="purpose" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>For educational or productive purposes</documentation>
							<appinfo>
								<gmlexr:targetCodeList>PurposeValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="ownerType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Identifies if the owner of the plant is a public or
								private entity and describes the type of holder system. If private,
								it ranks the holder by type; if public, it says the public body
								holder</documentation>
							<appinfo>
								<gmlexr:targetCodeList>OwnerTypeValue</gmlexr:targetCodeList>
							</appinfo>
						</annotation>
					</element>
					<element name="estimatedEnergyProduced" type="double" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Estimated energy produced in the year (kWh /
								year)</documentation>
						</annotation>
					</element>
					<element name="dateOfActivation" minOccurs="0" maxOccurs="1" type="bu-base:DateOfEventType">
						<annotation>
							<documentation>Date of entry into operation (yy/mm/dd)</documentation>
						</annotation>
						
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EnergyGenerationSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gsc-bu2d-energy:EnergyGenerationSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EnergyPerformance" type="gsc-bu2d-energy:EnergyPerformanceType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Energy performance -- Definition -- This data type describes
				the energy performance of the building or building unit.</documentation>
		</annotation>
	</element>
	<complexType name="EnergyPerformanceType">
		<sequence>
			<element name="estimatedEnergyNeed" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>EP of energy certificate (kWh needed for each cubic meter per
						year) - values derived from energy certificates; Total kWh needed for each
						square meter, in a year, by the building for Heating, Ventilation and Air
						Conditioning (HVAC) - values derived from energy certificates or
						estimated</documentation>
				</annotation>
			</element>
			<element name="energyPerformanceValueSource" type="gml:ReferenceType">
				<annotation>
					<documentation>The source of the class of energy performance of the building or
						building unit.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>SourceValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="energyPerformanceValue" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name -- energyPerformanceValue -- Definition -- The class of
						energy performance of the building or building unit.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>EnergyPerformanceValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="energyPerformanceCertification" minOccurs="0" maxOccurs="1" type="base2:DocumentCitationType">
				<annotation>
					<documentation>Certificate Identification</documentation>
				</annotation>
				
			</element>
			<element name="dateOfAssessment" type="dateTime">
				<annotation>
					<documentation>-- Name -- dateOfAssessment -- Definition -- The date when the
						energy performance of the building or building unit was
						assessed.</documentation>
				</annotation>
			</element>
			<element name="assessmentMethod" type="base2:DocumentCitationType">
				<annotation>
					<documentation>-- Name -- assessmentMethod -- Definition -- The reference to the
						document describing the assessment method of energy
						performance.</documentation>
				</annotation>
				
			</element>
		</sequence>
	</complexType>
	<complexType name="EnergyPerformancePropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:EnergyPerformance"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FloorDescription" type="gsc-bu2d-energy:FloorDescriptionType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Floor description -- Definition -- This data type gathers the
				main characteristics of a floor (or range of floors) of a building. -- Description
				-- The common characteristics are the ones coming from the use cases considered by
				this data specification.</documentation>
		</annotation>
	</element>
	<complexType name="FloorDescriptionType">
		<sequence>
			<element name="numberOfDwellings" type="integer">
				<annotation>
					<documentation>-- Name -- numberOfDwellings -- Definition -- The number of
						dwellings of the floor.</documentation>
				</annotation>
			</element>
			<element name="height" type="gml:LengthType">
				<annotation>
					<documentation>-- Name -- height -- Definition -- The height of the
						floor.</documentation>
				</annotation>
			</element>
			<element name="floorRange" minOccurs="1" maxOccurs="unbounded" type="gsc-bu2d-energy:FloorRangeType">
				<annotation>
					<documentation>-- Name -- floorRange -- Definition -- Therange of floors having
						common characteristics. -- Description -- NOTE:Many buildings may have
						ground floor with specific characteristics and upper floors looking like one
						another. EXAMPLE 1: Typically, the ground floor may be used for shops and
						the upper floors for offices or dwellings. The opening distribution is also
						often different on ground floor (with entrance doors, arcades, …) and in
						upper floors (with only windows on the facade).</documentation>
				</annotation>
				
			</element>
			<element name="floorArea" type="gml:AreaType">
				<annotation>
					<documentation>-- Name -- floorArea -- Definition -- The ground area of the
						floor.</documentation>
				</annotation>
			</element>
			<element name="document" minOccurs="0" maxOccurs="unbounded" type="gsc-bu2d-energy:DocumentType">
				<annotation>
					<documentation>-- Name -- document -- Definition -- Any document providing
						information about the floor. -- Description -- EXAMPLE : A sketch of the
						floor, emergency plan of the floor.</documentation>
				</annotation>
				
			</element>
			<element name="currentUse" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name -- currentUse -- Definition -- The current use(s) of the
						floor.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>CurrentUseValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="areaOfOpenings" type="gml:AreaType">
				<annotation>
					<documentation>-- Name -- areaOfOpenings -- Definition -- The area of openings
						(doors, windows, open space) on the facade of the building, related to this
						given floor -- Description -- NOTE : the area of openings helps to assess
						the vulnerability of buildings to earthquakes.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="FloorDescriptionPropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:FloorDescription"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FloorRange" type="gsc-bu2d-energy:FloorRangeType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- FloorRange -- Definition -- The identification of a floor
				range by its lowest and highest floor. -- Description -- NOTE 1: The ground floor
				should be considered as floor n°0. NOTE 2: If the floor range includes only one
				floor, the lowest and highest floor will be equal, e.g. [0,0] to identify the ground
				floor. NOTE 3: In case of a building with several building parts, the same floor
				should be used as reference floor, i.e. as floor n° 0.</documentation>
		</annotation>
	</element>
	<complexType name="FloorRangeType">
		<sequence>
			<element name="lowestFloor" type="double">
				<annotation>
					<documentation>-- Name -- lowestFloor -- Definition -- The lowest floor in the
						floor range. -- Description -- NOTE: lowestFloor is defined as float to deal
						with half floors that are used by some data producers (e.g. for mezzanines).
						Only numbers such as .. -2, -1, 0, 1, 2, &amp;hellip; or &amp;hellip;, -1,5,
						-0.5, 0.5, 1.5, 2.5, ... should be used to define lowest
						floor.</documentation>
				</annotation>
			</element>
			<element name="highestFloor" type="double">
				<annotation>
					<documentation>-- Name -- highestFloor -- Definition -- The highest floor in the
						floor range. -- Description -- NOTE : HighestFloor is defined as float to
						deal with half floors that are used by some data producers (e.g. for
						mezzanines). Only numbers such as .. -2, -1, 0, 1, 2, &amp;hellip; or
						&amp;hellip;, -1,5, -0.5, 0.5, 1.5, 2.5, ... should be used to define
						highest floor.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="FloorRangePropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:FloorRange"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Installation" type="gsc-bu2d-energy:InstallationType" substitutionGroup="gsc-bu2d-energy:AbstractInstallation">
		<annotation>
			<documentation>-- Name -- Installation -- Definition -- An external construction (of
				small size) or an external device serving the building or building part. --
				Description -- EXAMPLES: stairway, solar panel, external lift</documentation>
		</annotation>
	</element>
	<complexType name="InstallationType">
		<complexContent>
			<extension base="gsc-bu2d-energy:AbstractInstallationType">
				<sequence>
					<element name="geometry2D" type="gml:GeometricPrimitivePropertyType" nillable="true">
						<annotation>
							<documentation>-- Name -- Geometry 2D -- Definition -- 2D or 2,5 D
								geometric representation of the other construction.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InstallationPropertyType">
		<sequence minOccurs="0">
			<element ref="gsc-bu2d-energy:Installation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="NumberOfOccupants" type="gsc-bu2d-energy:NumberOfOccupantsType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Measure of volumes -- Definition --</documentation>
		</annotation>
	</element>
	<complexType name="NumberOfOccupantsType">
		<sequence>
			<element name="value" type="integer">
				<annotation>
					<documentation>-- Name -- Value -- Definition -- The value of the
						volumes</documentation>
				</annotation>
			</element>
			<element name="occupantType" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name -- officialAreaReference -- Definition -- The type of the
						official area. -- Description -- The type of official area may be described
						either by using the values provided by the CLGE measurement code for the
						floor area of buildings (which values are provided by the
						CLGE_OfficialAreaReferenceValue) or by using another standard (which values
						are provided by the empty code list OtherStandard
						OfficialAreaReferenceValue, this code list having to be defined at Member
						State level).</documentation>
					<appinfo>
						<gmlexr:targetCodeList>OccupantTypeValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="NumberOfOccupantsPropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:NumberOfOccupants"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="OfficialArea" type="gsc-bu2d-energy:OfficialAreaType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Official area -- Definition -- This data types includes the
				official area of the building, building part or building unit and information about
				the exact meaning of this area.</documentation>
		</annotation>
	</element>
	<complexType name="OfficialAreaType">
		<sequence>
			<element name="value" type="gml:AreaType">
				<annotation>
					<documentation>-- Name -- Value -- Definition -- The value of the official
						area</documentation>
				</annotation>
			</element>
			<element name="officialAreaReference" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name -- officialAreaReference -- Definition -- The type of the
						official area. -- Description -- The type of official area may be described
						either by using the values provided by the CLGE measurement code for the
						floor area of buildings (which values are provided by the
						CLGE_OfficialAreaReferenceValue) or by using another standard (which values
						are provided by the empty code list OtherStandard
						OfficialAreaReferenceValue, this code list having to be defined at Member
						State level).</documentation>
					<appinfo>
						<gmlexr:targetCodeList>OfficialAreaReferenceValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="heightParameter" type="gml:LengthType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>-- Name -- heightParameter -- Definition -- The height parameter
						used to differentiate internal primary area of internal other area, if the
						official area is referenced using the CLGE measurement code for the floor
						area of buildings -- Description -- NOTE: According to CLGE code, the height
						parameter has a default value fixed to 2.10 m but may be changed in order to
						fit with national regulation.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="OfficialAreaPropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:OfficialArea"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="OfficialValue" type="gsc-bu2d-energy:OfficialValueType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Official value -- Definition -- Data type grouping the
				information about the official value itself and the metadata attached to it. --
				Description -- The official value may be provided either directly by a value and its
				currency , or e.g. in case of privacy issues, by an external reference to another
				information system. This official value generally aims to assess the market price
				(valueReference) of the building (or building unit) or a given percentage of this
				valueReference at a valuationDate.</documentation>
		</annotation>
	</element>
	<complexType name="OfficialValueType">
		<sequence>
			<element name="value" type="integer">
				<annotation>
					<documentation>-- Name -- value -- Definition -- The official value of the
						building or building unit.</documentation>
				</annotation>
			</element>
			<element name="valuationDate" type="dateTime">
				<annotation>
					<documentation>-- Name -- valuationDate -- Definition -- The date corresponding
						to the assessed market price. -- Description -- EXAMPLE: The official value
						aims to assess the market price as it was in January 2012.</documentation>
				</annotation>
			</element>
			<element name="referencePercentage" type="integer">
				<annotation>
					<documentation>-- Name -- referencePercentage -- Definition -- The percentage of
						the market price that the official value aims to assess. -- Description --
						The official value aims to assess 50% of market price.</documentation>
				</annotation>
			</element>
			<element name="officialValueReference" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name -- officialValueReference -- Definition -- The reference
						market price that the official value aims to assess. -- Description --
						EXAMPLE: rental income</documentation>
					<appinfo>
						<gmlexr:targetCodeList>OfficialValueReferenceValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="informationSystemName" type="gmd:PT_FreeText_PropertyType">
				<annotation>
					<documentation>-- Name -- informationSystemName -- Definition -- The name of an
						external information system where the official value may be found. --
						Description -- It will be possible to find the official value of the
						building, building part or building unit, using the external reference of
						the spatial object related to the given information system.</documentation>
				</annotation>
			</element>
			<element name="currency" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name -- currency -- Definition -- The currency in which the
						official value is provided.</documentation>
					<appinfo>
						<gmlexr:targetCodeList>CurrencyValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="OfficialValuePropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:OfficialValue"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="PhotovoltaicSystem" type="gsc-bu2d-energy:PhotovoltaicSystemType" substitutionGroup="gsc-bu2d-energy:EnergyGenerationSystem">
		<annotation>
			<documentation>-- Name -- PhotovoltaicSystem -- Definition -- A photovoltaic system
				serving the building or building part. </documentation>
		</annotation>
	</element>
	<complexType name="PhotovoltaicSystemType">
		<complexContent>
			<extension base="gsc-bu2d-energy:EnergyGenerationSystemType">
				<sequence>
					<element name="power" type="double" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Defines the power plant in kW</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PhotovoltaicSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gsc-bu2d-energy:PhotovoltaicSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="PositionType" type="gsc-bu2d-energy:PositionTypeType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- PositionType -- Definition -- Type of building
				position</documentation>
		</annotation>
	</element>
	<complexType name="PositionTypeType">
		<sequence>
			<element name="taller" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The building is taller (over 2 floors) than any of the
						surrounding buildings?</documentation>
				</annotation>
			</element>
			<element name="onCorner" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The building is on corner, twinned or extreme?</documentation>
				</annotation>
			</element>
			<element name="isolated" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>The building is isolated, five times higher than those adjacent
						to them or have a reduced and less than 1/4 of its surface in contact
						plant?</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PositionTypePropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:PositionType"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SolarThermalSystem" type="gsc-bu2d-energy:SolarThermalSystemType" substitutionGroup="gsc-bu2d-energy:EnergyGenerationSystem">
		<annotation>
			<documentation>-- Name -- PhotovoltaicSystem -- Definition -- A photovoltaic system
				serving the building or building part. </documentation>
		</annotation>
	</element>
	<complexType name="SolarThermalSystemType">
		<complexContent>
			<extension base="gsc-bu2d-energy:EnergyGenerationSystemType">
				<sequence>
					<element name="surface" type="double" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Surface of installed solar thermal panels
								(sqm)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SolarThermalSystemPropertyType">
		<sequence minOccurs="0">
			<element ref="gsc-bu2d-energy:SolarThermalSystem"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VerticalSurfaceMeasure" type="gsc-bu2d-energy:VerticalSurfaceMeasureType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Measure of volumes -- Definition --</documentation>
		</annotation>
	</element>
	<complexType name="VerticalSurfaceMeasureType">
		<sequence>
			<element name="value" type="gml:AreaType">
				<annotation>
					<documentation>-- Name -- Value -- Definition -- The value of the
						volumes</documentation>
				</annotation>
			</element>
			<element name="surfaceType" type="gml:ReferenceType">
				<annotation>
					<appinfo>
						<gmlexr:targetCodeList>VerticalSurfaceTypeValue </gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="source" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name -- officialAreaReference -- Definition -- The type of the
						official area. -- Description -- The type of official area may be described
						either by using the values provided by the CLGE measurement code for the
						floor area of buildings (which values are provided by the
						CLGE_OfficialAreaReferenceValue) or by using another standard (which values
						are provided by the empty code list OtherStandard
						OfficialAreaReferenceValue, this code list having to be defined at Member
						State level).</documentation>
					<appinfo>
						<gmlexr:targetCodeList>SourceValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="VerticalSurfaceMeasurePropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:VerticalSurfaceMeasure"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VolumeMeasure" type="gsc-bu2d-energy:VolumeMeasureType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name -- Measure of volumes -- Definition --</documentation>
		</annotation>
	</element>
	<complexType name="VolumeMeasureType">
		<sequence>
			<element name="volumeType" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name -- Value -- Definition -- The value of the
						volumes</documentation>
					<appinfo>
						<gmlexr:targetCodeList>VolumeTypeValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
			<element name="value" type="gml:VolumeType">
				<annotation>
					<documentation>-- Name -- Value -- Definition -- The value of the
						volumes</documentation>
				</annotation>
			</element>
			<element name="source" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Name -- officialAreaReference -- Definition -- The type of the
						official area. -- Description -- The type of official area may be described
						either by using the values provided by the CLGE measurement code for the
						floor area of buildings (which values are provided by the
						CLGE_OfficialAreaReferenceValue) or by using another standard (which values
						are provided by the empty code list OtherStandard
						OfficialAreaReferenceValue, this code list having to be defined at Member
						State level).</documentation>
					<appinfo>
						<gmlexr:targetCodeList>SourceValue</gmlexr:targetCodeList>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="VolumeMeasurePropertyType">
		<sequence>
			<element ref="gsc-bu2d-energy:VolumeMeasure"/>
		</sequence>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Building" type="gsc-bu2d-energy:BuildingType" substitutionGroup="bu-core2d:Building">
		<annotation>
			<documentation>-- Name -- Building -- Definition -- A Building is an enclosed
				construction above and/or underground, used or intended for the shelter of humans,
				animals or things or for the production of economic goods. A building refers to any
				structure permanently constructed or erected on its site.</documentation>
		</annotation>
	</element>
	<complexType name="BuildingType">
		<complexContent>
			<extension base="bu-core2d:BuildingType">
				<sequence>
					<element name="buildingInfo" type="gsc-bu2d-energy:BuildingInfoPropertyType" minOccurs="0" maxOccurs="1"/>
					<element name="installation" type="gsc-bu2d-energy:AbstractInstallationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition -- The installation(s) serving the building
								or building part.</documentation>
						</annotation>
					</element>
					<element name="buildingUnit" type="gsc-bu2d-energy:AbstractBuildingUnitPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name -- Building unit -- Definition -- The building
								unit(s) belonging to the building or building part.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BuildingPropertyType">
		<sequence minOccurs="0">
			<element ref="gsc-bu2d-energy:Building"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BuildingPart" type="gsc-bu2d-energy:BuildingPartType" substitutionGroup="bu-core2d:BuildingPart">
		<annotation>
			<documentation>-- Name -- Building part -- Definition -- A BuildingPart is a
				sub-division of a Building that might be considered itself as a building. --
				Description -- NOTE 1: A BuildingPart is homogeneous related to its physical,
				functional or temporal aspects. NOTE 2: Building and BuildingPart share the same set
				of properties. EXAMPLE: A Building may be composed of two BuildingParts having
				different heights above ground.</documentation>
		</annotation>
	</element>
	<complexType name="BuildingPartType">
		<complexContent>
			<extension base="bu-core2d:BuildingPartType">
				<sequence>
					<element name="buildingInfo" type="gsc-bu2d-energy:BuildingInfoPropertyType" minOccurs="0" maxOccurs="1"/>
					<element name="buildingUnit" type="gsc-bu2d-energy:AbstractBuildingUnitPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="installation" type="gsc-bu2d-energy:AbstractInstallationPropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BuildingPartPropertyType">
		<sequence minOccurs="0">
			<element ref="gsc-bu2d-energy:BuildingPart"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<complexType name="Type">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>

</schema>