models/schemas/gscUS/GSC-NewCommonTypes_2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1210 ( Build: 1210 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" 
	xmlns:gsc-us-net-common="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" version="2.1" 
	xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/2.0" 
	xmlns:gsc-us-net-wa-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-wa-ext/2.1"
	xmlns:gsc-us-net-ogc-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-ogc-ext/2.1"
	xmlns:gsc-us-net-el-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-el-ext/2.1"
	xmlns:gsc-us-net-sw-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-sw-ext/2.1"
	xmlns:gsc-us-net-th-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-th-ext/2.1"
	xmlns:gsc-us-net-tc-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-tc-ext/2.1" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3">
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="http://inspire.ec.europa.eu/schemas/base/3.3/BaseTypes.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/base2/2.0" schemaLocation="http://inspire.ec.europa.eu/schemas/base2/2.0/BaseTypes2.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	
	<xs:element name="CrowdSourcing" type="gsc-us-net-common:CrowdSourcingType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended) in GeoSmatCity project

-- Definition --
Extends the water Pipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CrowdSourcingType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="thirdPoint" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="secondPoint" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ruptureAddress" type="xs:string"/>
					<xs:element name="reporterTelephoneNr" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reporterName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reporterEmail" type="xs:string"/>
					<xs:element name="problemType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>problemTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="problemStatus" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>problemStatusValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="location" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="insertionDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ID" type="xs:string"/>
					<xs:element name="firstPoint" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CrowdSourcingPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-common:CrowdSourcing"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	
	<xs:element name="DepthMeasure" type="gsc-us-net-common:DepthMeasureType" substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="DepthMeasureType">
		<xs:sequence>
			<xs:element name="locationAccuracy" type="gml:ReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<gmlexr:targetCodeList>sewerLocationAccuracyValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="groundLevelMeasureDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="groundLevelMeasure" type="gml:MeasureType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="depthRange" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<gmlexr:targetCodeList>depthRangeValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="depthMeasureDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="depthMeasure" type="gml:MeasureType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="depthLocation" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="depthAccuracy" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<gmlexr:targetCodeList>sewerDepthAccuracyValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DepthMeasurePropertyType">
		<xs:sequence>
			<xs:element ref="gsc-us-net-common:DepthMeasure"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="PipeDimensions" type="gsc-us-net-common:PipeDimensionsType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended)

-- Definition --
Extends the SewerPipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PipeDimensionsType">
		<xs:sequence>
			<xs:element name="pipeLenght" type="gml:MeasureType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="pipeInternalWidth" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>--</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pipeInternalHight" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Definition --
Type of origin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pipeExternalWidth" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Definition --
surveyProcess codeilst</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pipeExternalHight" type="gml:MeasureType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PipeDimensionsPropertyType">
		<xs:sequence>
			<xs:element ref="gsc-us-net-common:PipeDimensions"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ProjectActions" type="gsc-us-net-common:ProjectActionsType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>-- Name --
				project action 
				
				-- Definition --
				project action linking to projects on pipe/appurtenances</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ProjectActionsType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="belongsTo" type="gsc-us-net-common:ProjectsPropertyType"/>
					<xs:element name="projectActionType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>projectActionTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="projectActionId" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProjectActionsPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-common:ProjectActions"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Projects" type="gsc-us-net-common:ProjectsType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended)

-- Definition --
Extends the water Pipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ProjectsType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="projectType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>projectTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="projectTitle" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="projectSubmitter" type="base2:RelatedPartyPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="projectStartDate" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="projectID" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="projectExecutor" type="base2:RelatedPartyPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="projectEndDate" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="projectDescription" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="projectCompleted" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProjectsPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-common:Projects"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="UndergroundWorks" type="gsc-us-net-common:UndergroundWorksType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>-- Name --
SoilDigs

-- Definition --
Digs on pipes and appurtenances</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="UndergroundWorksType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					
					<xs:element name="addressedPipe" type="gml:ReferenceType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="addressedApp" type="gml:ReferenceType" minOccurs="0" maxOccurs="1"/>
					
					<xs:element name="workType" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="withCut" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
					<xs:element name="startDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
					<xs:element name="startAuthorizationDate" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requestDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
					<xs:element name="replenishmentTime" type="xs:date" minOccurs="0" maxOccurs="1"/>
					<xs:element name="municipality" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="local" type="xs:string"/>
					<xs:element name="geometry" type="gml:GeometryPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="executor" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
					<xs:element name="endAuthorizationDate" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cutTime" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="code" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="applicant" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UndergroundWorksPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-common:UndergroundWorks"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="infrastructureOrigin" type="gsc-us-net-common:infrastructureOriginType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended)

-- Definition --
Extends the SewerPipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="infrastructureOriginType">
		<xs:sequence>
			<xs:element name="typeOfChange" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>--</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>typeOfChangeValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="timeOfRegistration" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surveyProcess" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Definition --
surveyProcess codeilst</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>surveyProcessTypeValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="specificOriginType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Definition --
domain-specific classification.</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>specificOriginTypeValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="registrator" type="base2:RelatedPartyPropertyType" minOccurs="0" maxOccurs="1">
			</xs:element>
			<xs:element name="originType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Definition --
Type of origin</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>originTypeValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateOfUndergroundSurvey" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Change_PointOfTime" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ancestor" type="base:IdentifierPropertyType" minOccurs="0" maxOccurs="1">				
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="infrastructureOriginPropertyType">
		<xs:sequence>
			<xs:element ref="gsc-us-net-common:infrastructureOrigin"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="sourceOfData" type="gsc-us-net-common:sourceOfDataType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended)

-- Definition --
Extends the SewerPipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="sourceOfDataType">
		<xs:sequence>
			<xs:element name="surveyDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Definition --
surveyProcess codeilst</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentation" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>--</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataSource" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<gmlexr:targetCodeList>dataSourceTypeValue</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="agreementProtocolNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Definition --
Type of origin</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sourceOfDataPropertyType">
		<xs:sequence>
			<xs:element ref="gsc-us-net-common:sourceOfData"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
