models/schemas/gscUS/GSC-ThermalNetworkExtended_2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1210 ( Build: 1210 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-th-ext/2.1" 
	xmlns:gsc-us-net-th-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-th-ext/2.1" version="2.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" xmlns:gsc-us-net-common="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:us-net-wa="http://inspire.ec.europa.eu/schemas/us-net-wa/4.0">
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-wa/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-wa/4.0/WaterNetwork.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" schemaLocation="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-US/2.2/GSC-NewCommonTypes_2.2.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	
	<xs:element name="GSC_ThermalAppurtenance" type="gsc-us-net-th-ext:GSC_ThermalAppurtenanceType" substitutionGroup="us-net-common:Appurtenance">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended)

-- Definition --
Extends the water Pipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GSC_ThermalAppurtenanceType">
		<xs:complexContent>
			<xs:extension base="us-net-common:AppurtenanceType">
				<xs:sequence>
					<xs:element name="T_DigsOnApp" type="gsc-us-net-common:UndergroundWorksPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>gsc-us-net-th-ext:T_AppHasDigs</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="thermalAppurtenanceUserType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ThermalAppurtenanceUserTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="thermalAppurtenanceRelativeToRoadPosition" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AppurtenanceRelativeToRoadPositionValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="thermalAppurtenanceMaterialType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AppurtenanceMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="thermalAppurtenanceHeight" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GSC_ThermalAppurtenancePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-th-ext:GSC_ThermalAppurtenance"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>

	<xs:element name="GSC_ThermalPipeExtended" type="gsc-us-net-th-ext:GSC_ThermalPipeExtendedType" substitutionGroup="us-net-wa:WaterPipe">
		<xs:annotation>
			<xs:documentation>-- Name --
Water pipe (Extended)

-- Definition --
Extends the WaterPipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GSC_ThermalPipeExtendedType">
		<xs:complexContent>
			<xs:extension base="us-net-wa:WaterPipeType">
				<xs:sequence>
					<xs:element name="thermalPipeType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --
Type of water pipe.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ThermalPipeTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="thermalPipeSourceOfData" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>dataSourceTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="thermalPipeRelativeToRoadPosition" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>PipeRelativeToRoadPositionValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="thermalPipeMaterialType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>PipeMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="thermalPipeDimension" type="gsc-us-net-common:PipeDimensionsPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="thermalPipeDepthMeasure" type="gsc-us-net-common:DepthMeasurePropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					
					<xs:element name="T_digsOnPipe" type="gsc-us-net-common:UndergroundWorksPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>gsc-us-net-th-ext:pipeHasDigs</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GSC_ThermalPipeExtendedPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-th-ext:GSC_ThermalPipeExtended"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>


</xs:schema>
