models/schemas/gscUS/GSC-TelecommunicationsNetworkExtended_2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1210 ( Build: 1210 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-tc-ext/2.1" xmlns:gsc-us-net-tc-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-tc-ext/2.1" version="2.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" xmlns:gsc-us-net-common="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:us-net-el="http://inspire.ec.europa.eu/schemas/us-net-el/3.0">
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-el/3.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-el/3.0/ElectricityNetwork.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" schemaLocation="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-US/2.2/GSC-NewCommonTypes_2.2.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:element name="GSC_TelecommunicationAppurtenance" type="gsc-us-net-tc-ext:GSC_TelecommunicationAppurtenanceType" substitutionGroup="us-net-common:Appurtenance">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended)

-- Definition --
Extends the water Pipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GSC_TelecommunicationAppurtenanceType">
		<xs:complexContent>
			<xs:extension base="us-net-common:AppurtenanceType">
				<xs:sequence>
					<xs:element name="Tc_DigsOnApp" type="gsc-us-net-common:UndergroundWorksPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>gsc-us-net-tc-ext:Tc_AppHasDigs</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="telecommunicationAppurtenanceUserType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TelecommunicationsUserTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="telecommunicationAppurtenanceRelativeToRoadPosition" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AppurtenanceRelativeToRoadPositionValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="telecommunicationAppurtenanceMaterialType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AppurtenanceMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="telecommunicationAppurtenanceHeight" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GSC_TelecommunicationAppurtenancePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-tc-ext:GSC_TelecommunicationAppurtenance"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="TelecommunicationCableExtended" type="gsc-us-net-tc-ext:TelecommunicationCableExtendedType" substitutionGroup="us-net-el:ElectricityCable">
		<xs:annotation>
			<xs:documentation>-- Name --
Electricity cable (Extended)

-- Definition --
Extends the ElectricityCable feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TelecommunicationCableExtendedType">
		<xs:complexContent>
			<xs:extension base="us-net-el:ElectricityCableType">
				<xs:sequence>
					<xs:element name="TelecommunicationCableType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TelecommunicationsCableMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="cablesInDuct" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cableDuctType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TelecommunicationsCableDuctTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TelecommunicationCableExtendedPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-tc-ext:TelecommunicationCableExtended"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
