models/schemas/gscUS/GSC-OilGasChemicalsNetworkExtended_2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1210 ( Build: 1210 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-ogc-ext/2.1" 
	xmlns:gsc-us-net-ogc-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-ogc-ext/2.1" version="2.1" 
	xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-net-ogc="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0" 
	xmlns:gsc-us-net-common="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0">
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" schemaLocation="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-US/2.2/GSC-NewCommonTypes_2.2.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-ogc/4.0/OilGasChemicalsNetwork.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	
	<xs:element name="GSC-OilGasChemicalsPipeExtended" type="gsc-us-net-ogc-ext:GSC-OilGasChemicalsPipeExtendedType" substitutionGroup="us-net-ogc:OilGasChemicalsPipe">
		<xs:annotation>
			<xs:documentation>-- Name --
Oil, gas and chemicals pipe (Extended)

-- Definition --
Extends the OilGasChemicalsPipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GSC-OilGasChemicalsPipeExtendedType">
		<xs:complexContent>
			<xs:extension base="us-net-ogc:OilGasChemicalsPipeType">
				<xs:sequence>
					<xs:element name="OGC_digsOnPipe" type="gsc-us-net-common:UndergroundWorksPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>gsc-us-net-ogc-ext:OGC_PipeHasDigs</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="oilGasChemicalsSourceOfData" type="gsc-us-net-common:sourceOfDataPropertyType" minOccurs="0" maxOccurs="1">						
					</xs:element>
					<xs:element name="oilGasChemicalsRoadPosition" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- </xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>PipeRelativeToRoadPositionValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="oilGasChemicalsRoadType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- </xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>PipeRoadTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="oilGasChemicalsPipeType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --
Type of oil/gas/chemicals pipe.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>OilGasChemicalsPipeTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="oilGasChemicalsPipeMaterialType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>PipeMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="oilGasChemicalsPipeDimension" type="gsc-us-net-common:PipeDimensionsPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="oilGasChemicalsPipeCoatingType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>PipeCoatingTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="oilGasChemicalsDepthMeasure" type="gsc-us-net-common:DepthMeasurePropertyType" minOccurs="0" maxOccurs="unbounded">
					</xs:element>
					<xs:element name="oilGasChemicalsCathodeProtection" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --
Maximum capacity of the pipe.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GSC-OilGasChemicalsPipeExtendedPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-ogc-ext:GSC-OilGasChemicalsPipeExtended"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	
	
	<xs:element name="GSC_OilGasChemicalsAppurtenance" type="gsc-us-net-ogc-ext:GSC_OilGasChemicalsAppurtenanceType" substitutionGroup="us-net-common:Appurtenance">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended)

-- Definition --
Extends the water Pipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GSC_OilGasChemicalsAppurtenanceType">
		<xs:complexContent>
			<xs:extension base="us-net-common:AppurtenanceType">
				<xs:sequence>
					<xs:element name="OGC_digsOnApp" type="gsc-us-net-common:UndergroundWorksPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>gsc-us-net-ogc-ext:OGC_AppHasDigs</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="OilGasChemicalsAppurtenanceUserType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>OilGasChemicalsUserTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="OilGasChemicalsAppurtenanceRelativeToRoadPosition" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AppurtenanceRelativeToRoadPositionValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="OilGasChemicalsAppurtenanceMaterialType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AppurtenanceMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="OilGasChemicalsAppurtenanceHeight" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GSC_OilGasChemicalsAppurtenancePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-ogc-ext:GSC_OilGasChemicalsAppurtenance"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	
	
	

</xs:schema>
