models/schemas/gscUS/GSC-SewerNetworkExtended_2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1210 ( Build: 1210 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-sw-ext/2.1" 
	xmlns:gsc-us-net-sw-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-sw-ext/2.1" version="2.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" 
	xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/2.0" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" 
	xmlns:gsc-us-net-common="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" xmlns:us-net-sw="http://inspire.ec.europa.eu/schemas/us-net-sw/4.0">
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-sw/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-sw/4.0/SewerNetwork.xsd"/>
	<xs:import namespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" schemaLocation="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-US/2.2/GSC-NewCommonTypes_2.2.xsd"/> 
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="http://inspire.ec.europa.eu/schemas/base/3.3/BaseTypes.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/base2/2.0" schemaLocation="http://inspire.ec.europa.eu/schemas/base2/2.0/BaseTypes2.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>

	
	
	<xs:element name="GSC_SewerAppurtenanceExtended" type="gsc-us-net-sw-ext:GSC_SewerAppurtenanceExtendedType" substitutionGroup="us-net-common:Appurtenance">
		<xs:annotation>
			<xs:documentation> -- Name --
Sewer Appurtenance(Extended)

-- Definition --
Extends the sewer Appurtenance feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GSC_SewerAppurtenanceExtendedType">
		<xs:complexContent>
			<xs:extension base="us-net-common:AppurtenanceType">
				<xs:sequence>
					<xs:element name="digsOnAppt" type="gsc-us-net-common:UndergroundWorksPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>gsc-us-net-sw-ext:apptHasDigs</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="SewerApptHasProjectAction" type="gsc-us-net-common:ProjectActionsPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="swAppurtenanceUserType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>swAppurtenanceUserTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
					
					
				
						
					
					
					<xs:element name="swAppurtenanceStreet" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="swAppurtenanceSourceOfData" type="gsc-us-net-common:sourceOfDataPropertyType" minOccurs="0" maxOccurs="1">
						
					</xs:element>
					<xs:element name="swAppurtenanceRelativeToRoadPosition" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>swAppurtenanceRelativeToRoadPositionValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="swAppurtenancePumpFlow" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swAppurtenanceOverflowHeight" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swAppurtenanceOrigin"  type="gsc-us-net-common:infrastructureOriginPropertyType" minOccurs="0" maxOccurs="1">
						
					</xs:element>
					<xs:element name="swAppurtenanceMunicipality" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="swAppurtenanceMaterialType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>swAppurtenanceMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="swAppurtenanceHeight" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="swAppurtenanceDepthMeasure"  type="gsc-us-net-common:DepthMeasurePropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="swAppurtenanceAlternativeId" type="base:IdentifierPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="swAppurtenanceAlternativeAuthorityRole" type="base2:RelatedPartyPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GSC_SewerAppurtenanceExtendedPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-sw-ext:GSC_SewerAppurtenanceExtended"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="GSC_SewerPipeExtended" type="gsc-us-net-sw-ext:GSC_SewerPipeExtendedType" substitutionGroup="us-net-sw:SewerPipe">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended)

-- Definition --
Extends the SewerPipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GSC_SewerPipeExtendedType">
		<xs:complexContent>
			<xs:extension base="us-net-sw:SewerPipeType">
				<xs:sequence>
					<xs:element name="digsOnPipe" type="gsc-us-net-common:UndergroundWorksPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>gsc-us-net-sw-ext:pipeHasDigs</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="SewerPipeHasProjectAction" type="gsc-us-net-common:ProjectActionsPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="sewerPipeType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>SewerPipeTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sewerPipeTransportType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>sewerPipeTransportTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sewerPipeStreet" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="sewerPipeStartNodeTerrainQuote" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="sewerPipeStartNodeFlowingQuote" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="sewerPipeSourceOfData" type="gsc-us-net-common:sourceOfDataPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="sewerPipeRoadPosition" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>sewerPipeRoadPositionValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sewerPipeRecoveryType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --
recovery Type of sewer pipe.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>sewerPipeRecoveryTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sewerPipeRecoveryPresent" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sewerPipeOrigin" type="gsc-us-net-common:infrastructureOriginPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="sewerPipeMunicipality" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="sewerPipeMaterialType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>sewerPipeMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sewerPipeEndNodeTerrainQuote" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sewerPipeEndNodeFlowingQuote" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sewerPipeDimensions" type="gsc-us-net-common:PipeDimensionsPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="sewerPipeDepthMeasure" type="gsc-us-net-common:DepthMeasurePropertyType" minOccurs="0" maxOccurs="unbounded">
					</xs:element>
					<xs:element name="sewerPipeDeliveryLocationType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>swPipeDeliveryLocationValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="sewerPipeAlternativeId" type="base:IdentifierPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="sewerPipeAlternativeAuthorityRole" type="base2:RelatedPartyPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GSC_SewerPipeExtendedPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-sw-ext:GSC_SewerPipeExtended"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
