models/schemas/gscUS/GSC-ElectricityNetworkExtended_2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1210 ( Build: 1210 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
	targetNamespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-el-ext/2.1" 
	xmlns:gsc-us-net-el-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-el-ext/2.1" version="2.1" 
	xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-net-el="http://inspire.ec.europa.eu/schemas/us-net-el/3.0" 
	xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0"
	xmlns:gsc-us-net-common="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1">
	<xs:import namespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" 
		schemaLocation="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-US/2.2/GSC-NewCommonTypes_2.2.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-el/3.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-el/3.0/ElectricityNetwork.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	
	
	<xs:element name="ElectricityCableExtended" type="gsc-us-net-el-ext:ElectricityCableExtendedType" substitutionGroup="us-net-el:ElectricityCable">
		<xs:annotation>
			<xs:documentation>-- Name --
Electricity cable (Extended)

-- Definition --
Extends the ElectricityCable feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ElectricityCableExtendedType">
		<xs:complexContent>
			<xs:extension base="us-net-el:ElectricityCableType">
				<xs:sequence>
					<xs:element name="electricityStartPlant" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricitySegmentType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ElectricitySegmentTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricityLineType" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricityLineName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricityEndPlant" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricityCableType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --
Type of electricity cable.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ElectricityCableTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricityCableConductorMaterialType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --
Cable conductor material type.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ElectricityCableConductorMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				
					
					<xs:element name="electricityCableSize" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --
								Cable size range</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ElectricityCableSizeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ElectricityCableExtendedPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-el-ext:ElectricityCableExtended"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	
	<xs:element name="GSC_ElectricityAppurtenance" type="gsc-us-net-el-ext:GSC_ElectricityAppurtenanceType" substitutionGroup="us-net-common:Appurtenance">
		<xs:annotation>
			<xs:documentation>-- Name --
Sewer pipe (Extended)

-- Definition --
Extends the water Pipe feature in the Core Utility Network Profile.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GSC_ElectricityAppurtenanceType">
		<xs:complexContent>
			<xs:extension base="us-net-common:AppurtenanceType">
				<xs:sequence>
					<xs:element name="E_DigsOnApp" type="gsc-us-net-common:UndergroundWorksPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>gsc-us-net-el-ext:E_AppHasDigs</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricityAppurtenanceUserType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ElectricityAppurtenanceUserTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricityAppurtenanceRelativeToRoadPosition" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AppurtenanceRelativeToRoadPositionValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricityAppurtenanceMaterialType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AppurtenanceMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="electricityAppurtenanceHeight" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GSC_ElectricityAppurtenancePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-el-ext:GSC_ElectricityAppurtenance"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>



</xs:schema>
