models/schemas/gscUS/GSC-ActivityComplexExtended_2.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.0.1210 ( Build: 1210 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-ac-ext/2.1" xmlns:gsc-us-net-ac-ext="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-ac-ext/2.1" version="2.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" xmlns:base="http://inspire.ec.europa.eu/schemas/base/3.3" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:gsc-us-net-common="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1">
	<xs:import namespace="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-us-net-common/2.1" 
		schemaLocation="http://www.epsilon-italia.it/public/geosmartcity/schemas/gsc-US/2.2/GSC-NewCommonTypes_2.2.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/base/3.3" schemaLocation="http://inspire.ec.europa.eu/schemas/base/3.3/BaseTypes.xsd"/>
	<xs:import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/4.0" schemaLocation="http://inspire.ec.europa.eu/schemas/us-net-common/4.0/UtilityNetworksCommon.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:element name="GSC-ActivityComplexExtended" type="gsc-us-net-ac-ext:GSC-ActivityComplexExtendedType" substitutionGroup="us-net-common:Cable">
		<xs:annotation>
			<xs:documentation>-- Name --
electricity cable

-- Definition --
A utility link or link sequence used to convey electricity from one location to another.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GSC-ActivityComplexExtendedType">
		<xs:complexContent>
			<xs:extension base="us-net-common:CableType">
				<xs:sequence>
					<xs:element name="origin " type="gsc-us-net-common:infrastructureOriginPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="ActivityComplexType" type="gml:ReferenceType">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ActivityComplexTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ActivityComplexAlternativeId" type="base:IdentifierPropertyType" minOccurs="0" maxOccurs="1">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GSC-ActivityComplexExtendedPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gsc-us-net-ac-ext:GSC-ActivityComplexExtended"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
